@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-image: url("../assets/main_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.slider {
    -webkit-appearance: none;
    width: 95%;
    height: 15px;
    border-radius: 5px;  
    background: #ffffff;
    outline: none;
    border-color: rgb(75 85 99);
    border-style: solid;
    border-width: 1px;
    border-radius: 9999px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #6B7280;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }